@font-face {
    font-family: 'Shintia Script';
    src: url('ShintiaScript.woff2') format('woff2'),
        url('ShintiaScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

